.dashboard-container {
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.loans-table {
  overflow-x: auto;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
}
thead{
  border-radius: 10px;

}
th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;

}
th {
  /* background-color: #f4f4f4; */
  background-color: #007bff;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #c9c9c9;
}

tr:hover {
  background-color: #f1f1f1;
}

.error-message {
  color: red;
  text-align: center;
}
